.subjectForm {
  max-width: 400px;
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  font-weight: bold;
}

.formGroup input[type='text'],
.formGroup input[type='number'] {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.buttonWrapper {
  display: block;
  margin-top: 1rem;
}

.buttonWrapper button {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #4CAF50; /* Green color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttonWrapper button:hover {
  background-color: #45a049; /* Darker green color on hover */
}
