.nav {
    background-color: #78866b;
    color: #fff;
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .nav ol li {
    margin-right: 20px;
  }
  
  .nav ol li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav ol li:hover > ol {
    display: block;
  }
  
  .nav ol ol {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
  }
  
  .nav ol ol li {
    width: 200px;
    float: none;
    display: list-item;
    position: relative;
  }
  
  .nav ol ol li a {
    color: #fff;
  }
  
  .nav ol ol li a:hover {
    color: #ff0;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    height: 500px;
    text-align: center;
   
  }
  
  .left-box {
    width: 300px;
    background-color: #f1f1f1;
    padding: 20px;
    border: 2px solid black;
  }
  
  .center-box {
    flex: 1;
    background-color: #e9e9e9;
    padding: 20px;
  }

  .marquee-container {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee-content {
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .notificationsBox ul li {
    width: 100%;
    overflow: hidden;
    padding: 10px;
  }

  .courseButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 50px;
  }

  .courseButton:hover{
    background-color: #3e8e41;
  }

  .courseButton:active{
    background-color: #3e8e41;
    transform: translateY(4px);
  }

  .courseButton:focus{
    outline: none;
  }

  .courseButton:disabled{
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .courseButton:disabled:hover{
    background-color: #cccccc;
  }

  .courseButton:disabled:active{
    background-color: #cccccc;
    transform: translateY(4px);
  }

  .courseButton:disabled:focus{
    outline: none;
  }

  .courseButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  
 